TELEGRAM_TOKEN=<TELEGRAM BOT TOKEN>
ALLOWED_USER_ID=<ID USER TELEGRAM>
SERVER_NAME=<HOMELABE SERVER NAME / BISA IP JUGA>
SSH_HOST=<IP VPS JIKA MAU CONNECT>
SSH_PRIVATE_KEY_PATH=<KEY BUAT SSH KE VPS>

DATABASE_PATH=<LOKASI PENYIMPANAN FILE DB>

SMTP_HOST=<SMTP HOST>
SMTP_PORT=<PORT HOST>
SMTP_SSL=<TRUE/FALSE>
SMTP_USERNAME=<USERNAME AUTH>
SMTP_PASSWORD=<PASSWORD AUTH SMTP>
SMTP_SENDER_NAME=<SENDER NAME DI EMAIL>
SMTP_SENDER_EMAIL=<EMAIL SENDER>